:root {
  --teal-light: #27DDA7;
  --teal-dark: #1CB084;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  /* to remove the scrollbar */
  overflow-y: hidden;

  /* TODO actually check if this affects the page */
  max-height: 100%;

  font-family: "Questrial", sans-serif !important;
  font-weight: bold;
}

.bg-teal {
  background-color: var(--teal) !important;
}

.bg-gradient-teal {
  background-image: linear-gradient(to bottom right, var(--teal-dark), var(--teal-light));
}

.text-teal {
  color: var(--teal);
}

.text-teal-dark {
<<<<<<< HEAD
  color: var(--teal-dark);
}

.text-teal-light {
  color: var(--teal-light);
}

.border-teal-light {
  border-color: var(--teal-light) !important;
=======
  color: #1CB084;
>>>>>>> 53e58f7214592c685a627f38bfaa0bfdc16508c2
}

.badge-teal-light {
  background-color: var(--teal-light);
}

.badge-teal {
  background-color: var(--teal);
}
.badge-teal-dark {
  background-color: var(--teal-dark);
}
