html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Questrial", sans-serif !important;
}

.text-teal {
  color: var(--teal);
}

.badge-teal-light {
  background-color: #27DDA7;
}

.badge-teal {
  background-color: var(--teal);
}
.badge-teal-dark {
  background-color: #1CB084;
}
