h5.text-light Some basic info about me:
ul
  li #[strong 18]
  li #[strong Male]
  li From #[span.text-danger Ro]#[span.text-warning man]#[span.text-primary ia]
  li Pretty cynical(or so people told me)

