p.text-light My specialty is Front-end development, sometimes I also dive into Back-end development.

p.text-light I have the "basic" skills you might expect a Front-end dev: 
ul
  li #[span.text-teal HTML]
  li #[span.text-teal CSS]
  li #[span.text-teal JavaScript]
  li #[span.text-teal Bootstrap]
  li #[span.text-teal Git]

p.text-light But I also have some other skills I like to use, because they make my work easier:
ul
  li #[span.text-teal Pug] - a template engine, very flexible and useful, this website is coded with Pug
  li #[span.text-teal NodeJS] - a runtime for JavaScript, basically it allows me to run Js without a browser
  li #[span.text-teal Lua] - scripting language, has amazing text manipulation capabilities, I use it for every script related to text operations
  li #[span.text-teal SQL] - the industry standard database
  li #[span.text-teal sqlite] - a lighter version of SQL, perfect for small-scale apps

p.text-light If you want to see my projects #[a.text-teal(href="https://github.com/1337M0nst3r?tab=repositories") here's] a link to my Github account.
