doctype html
html(lang="en")
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width,initial-scale=1")
  meta(name="description" content="I'm Filip Samuel a.k.a. 1337M0nst3r a front-end developer.")
  meta(name="author" content="Filip Samuel")

  title Hi there!

  //- This variable specifies wheter to use a CDN or a local version of a framework
  //- When set to true the local version is used otherwise a CDN is used
  - var isDev = true
  if isDev
    link(rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css")
  else
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")

body.bg-dark
  p.text-primary Testing

  if isDev
    script(src="assets/vendor/jQuery/jquery-3.4.0.min.js")
    script(src="assets/vendor/bootstrap/js/bootstrap.min.js")
  else
    
