doctype html
html(lang="en")
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width,initial-scale=1")
  meta(name="description" content="I'm Filip Samuel a.k.a. 1337M0nst3r a front-end developer.")
  meta(name="author" content="Filip Samuel")

  title Hi there!

  //- This variable specifies whether to use a CDN or a local version when dealing with frameworks
  //- When set to true the local version is used otherwise a CDN is used
  //- NOTE: Must be set to **false** in production!
  - var isDev = true
  if isDev
    link(rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css")
  else
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")

  // Font(s)
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Questrial&display=swap")

  // Local styles
  link(rel="stylesheet" href="assets/styles/main.css")

body.bg-dark

  .jumbotron.jumbotron-fluid.text-center.bg-dark.mb-1
    h1.display-1.text-teal I'm Sam!
    span.badge.badge-teal-light.p-2.mx-2(style="font-size: 1.1em;") Web dev
    span.badge.badge-teal.p-2.mx-2(style="font-size: 1.1em;") Linux
    span.badge.badge-teal-dark.p-2.mx-2(style="font-size: 1.1em;") Scripting
  
  .container
    .row.p-4
      .col-4.text-center
        h1 #[span.text-light #]About
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .col-4.text-center
        h1.display-4 #[span.text-light #]What I do
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .col-4.text-center
        h1 #[span.text-light #]Get in touch
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  if isDev
    script(src="assets/vendor/jQuery/jquery-3.4.0.min.js")
    script(src="assets/vendor/bootstrap/js/bootstrap.min.js")
  else
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    
