doctype html
html(lang="en")
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width,initial-scale=1")
  // TODO: write more here
  meta(name="description" content="I'm Filip Samuel a.k.a. 1337M0nst3r a front-end developer.")
  meta(name="author" content="Filip Samuel")

  title Hi there!

  //- This variable specifies whether to use a CDN or a local version when dealing with frameworks
  //- When set to true the local version is used otherwise a CDN is used
  //- NOTE: Must be set to **false** in production!
  - var isDev = true
  if isDev
    link(rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css")
  else
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")

  // Font(s)
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Questrial&display=swap")

  // Local styles
  link(rel="stylesheet" href="assets/styles/main.css")
  link(rel="stylesheet" href="assets/styles/responsiveness.css")

body.bg-dark.text-light.mb-1

  // Headline
  .container-fluid.text-center.my-4
    h1.display-1 I'm Sam
    span.border.rounded.p-2.mx-2(style="font-size: 1em;") Linux
    span.border.rounded.p-2.mx-2(style="font-size: 1em;") Front-end
    span.border.rounded.p-2.mx-2(style="font-size: 1em;") Scripts
  
  // Main content
  .container-fluid
    .row.text-center.p-4.text-light
      .col-12.col-md-3.my-2.border.border-secondary.p-3.rounded
        h2.text-teal-dark About
        .text-left
          include content/about.pug

      .col-12.col-md-4.offset-md-1.my-2.border.border-secondary.p-3.rounded
        h2.text-teal-dark Work
        include content/work.pug

      .col-12.col-md-3.offset-md-1.my-2.border.border-secondary.p-3.rounded
        h2.text-teal-dark Contact
        include content/contact.pug

  if isDev
    script(src="assets/vendor/jQuery/jquery-3.4.0.min.js")
    script(src="assets/vendor/bootstrap/js/bootstrap.min.js")
  else
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    
